.wrapper{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    & a {
        text-decoration: none;
        color: #424242;
    }

    & .title{
        text-align: center;
    }
    & .list{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
}